.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.animate {
  animation: changeOdds 2s 0s 5 alternate backwards;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.pStyle {
  font-size:18px;
}

.matcheFlex {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  min-width: 200px;
  padding:20px;
}

.matcheFlex .matcheContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: black;
  color: white;
  width: 100%;
}

.matcheFlex .matcheContent:nth-child(1) {
  border-radius: 8px 8px 0 0;
  border-bottom:1px solid gray;
}

.matcheFlex .matcheContent:nth-child(2) {
  border-radius: 0 0 8px 8px;
  color: #c72129;
  background-color: #e3e3e3;
}

.matcheFlex .matcheContent div {
  font-size:12px;
  padding:10px;
  font-weight: bold;
}

.matcheFlex .matcheContent:nth-child(2) div {
  width: 30%;
}

.matcheFlex .matcheContent:nth-child(1) div:nth-child(1),.matcheFlex .matcheContent:nth-child(1) div:nth-child(3) {
  width: 40%;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeOdds {
    0% { color: white;}
    50% { color: red;}
    100% { color: black;}
}
